@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;800;900&display=swap');
html, body {
    padding: 0;
    margin: 0;
    background-color: #f4f5fa;
    height: 100%;;
}
.container {
    width: 1200px;
    margin: auto;
    height: 100%;
}
/* Header */
div.header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
    background-color: #fff;
    cursor: pointer;
}
div.header span.header__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #333;
}
/* index.html */
.banner-getstarted {}
.banner-getstarted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}
.banner-getstarted__start {
    padding: 92px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.banner-getstarted__start-name {}
.banner-getstarted__start-name__span {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: #333;
}
.banner-getstarted__start-text {}
.banner-getstarted__start-text__span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #333;
}
.banner-getstarted__start-press {}
.banner-getstarted__start-press__button {
    padding: 11px 24px;
    border-radius: 8px;
    background-color: #0d84fb;
    color: #fff;
    border: 0;
    box-shadow: 0 0 0.5rem rgb(13, 132, 251, .7);
}
.banner-getstarted__start-press__button:active {
    transition: .5s; 
    box-shadow: none;
}

.banner-getstarted__style {
    padding: 22px;
    border-radius: 12px;
    background-color: #fff;
}
.banner-getstarted__style-span, .banner-getstarted__js-span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #c4c4c4;
}
.banner-getstarted__style-span__link, .banner-getstarted__js-span__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.banner-getstarted__js {
    padding: 22px;
    border-radius: 12px;
    background-color: #fff;
}

.info-component {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}
.info-component__main { flex: 1 0 auto; } 
.info-component__footer { flex: 0 0 auto!important; position: unset!important;} 
.footer-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 15px;
    padding: 10px 5px;
}
.footer-info__nekto {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 100;
    gap: 5px;
}
.footer-info__thrnrhhl {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 100;
    gap: 5px;
}
.footer-info__mit {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 100;
    gap: 5px;
}
.footer-info__ver {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 100;
    gap: 5px;
}

/* catalog.html */
.component-link {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}
.component-link__component {
    cursor: pointer;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25%;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    margin: 15px 0 0 0;
}
.component-link__component:hover {
    transition: .3s;
    box-shadow:  0 0 .5rem rgba(0,0,0, .1);
}
.component-link__component:active {
    background-color: #0d84fb;
    color: #fff!important;
    box-shadow:  none;
}
.component-link__component-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #333;
}
.component-link__component-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #c4c4c4;
}

/* Component.html */
.component-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 20px;
}
.component-div__title-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 800;
    padding: 30px 0;
    text-align: center;
}
.component-div__title-input {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}
.component-div__title-input:focus {
    outline: 0;
}

/* Code color element */
.HTMLCode-comment {
    color: #68737e;
}

.HTMLCode-func {
    color: #0d84fb;
}

.HTMLCode-variable {
    color: #ea2143;
}

.HTMLCode-text {
    color: #23292e;
}

.HTMlCode-key {
    color: #00882d;
}

.HTMLCode-value {
    color: #f87f29;
}

/* ----- */
.classNameJs__Pagination {
    background-color: #f4f5fa;
    border-radius: 8px;
    padding: 5px;
    width: 400px;
    margin-bottom: 5px;
}